<form action="/register" method="post">
	{{#if error}}
		<strong>{{error}}</strong>
	{{/if}}
	<input name="id" placeholder="id" value="{{default form.id}}"/>
	<input name="name" placeholder="name" value="{{default form.name}}"/>
	<input name="email" placeholder="email" value="{{default form.email}}"/>
	<input type="password" name="password" placeholder="password" value=""/>
	<input type="password" name="confirmPassword" placeholder="confirm password" value=""/>
	<button type="submit">확인</button>
</form>